/* ==========================
   CONTRACT ADDRESS BOX
========================== */

.contract-box {
    margin-top: 35px;
    text-align: center;
}

.contract-box h3 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
}

.address-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.address-wrapper input {
    width: 650px;
    max-width: 90%;
    padding: 14px;
    background: rgba(0,0,0,0.85);
    border: 2px solid #d4af37;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}

.address-wrapper button {
    background: #d4af37;
    color: #000;
    border: none;
    padding: 14px 24px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.address-wrapper button:hover {
    transform: translateY(-2px);
}

.chart-btn {
    display: inline-block;
    margin-top: 20px;
    background: #d4af37;
    color: #000;
    text-decoration: none;
    padding: 14px 32px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

.chart-btn:hover {
    transform: translateY(-2px);
}
